# 📦 Requirements

The project was developed and tested in a Linux environment using Python and RDKit.

<p align="left">
  <img src="https://img.shields.io/badge/Python-3.10-blue?logo=python">
  <img src="https://img.shields.io/badge/RDKit-Cheminformatics-orange">
  <img src="https://img.shields.io/badge/Platform-Linux-green?logo=linux">
</p>

---

## 🔧 Required Dependencies

```text
rdkit
numpy
```

---

# 💻 Running the Project

## 1️⃣ Clone the Repository

```bash
git clone https://github.com/sobia-naaz/RDKit-Internal-Coordinates.git
```

---

## 2️⃣ Move into the Project Directory

```bash
cd RDKit-Internal-Coordinates
```

---

## 3️⃣ Install Dependencies

```bash
pip install -r requirements.txt
```

---

## 4️⃣ Run the Python Script

```bash
python internal_coordinates.py
```
